#head_tabs
{
	list-style: none;
	padding: 0;
	margin: 0;
	top: 1em;
	left: 0;
}
	  	
#head_tabs li
{
	display: inline;
	border: solid;
	border-width: 1px 1px 1px 1px;
	margin: 0 0.5em 0 0;
}
		
#head_tabs li a
{
	padding: 0 1em;
}

#panel_body
{
	position: absolute;
	top: 0;
	left: 50px;
}

#search_button
{
	position: absolute;
	top: 2px;
	left: 200px;
	width: 140px;
	height: 20px;
}

#dont_know
{
	position: absolute;
	top: 2px;
	left: 340px;
	width: 140px;
	height: 20px;
}

#back_button
{
	position: absolute;
	top: 2px;
	left: 480px;
	width: 140px;
	height: 20px;
}

#place_details
{
	position: relative;
	top: 2.5em;
	width: 50%;
	float: right;
}

#place_list
{
	position: relative;
	top: 2.5em;
	width: 50%;
	float: left;
	height: 500px;
	overflow-y: scroll;
}
		
body
{
	background-color: rgb(265, 265, 265); 
}

article
{
	padding-top: 20px;
	padding-bottom: 10px;
	min-width: 10px;
	max-width: 500px;
	margin: 50px auto 275px;
	border: 0px grey solid;
}

tr s
{ 
    border: 0; 
    height: 0; 
    box-shadow: 0 0 5px 1px black;
}

td
{
     border: 0;
     height: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
		
header
{
	background-color: white ;
	color: black;
	padding: 0px 0px 35px 0px;	
	border: 1px white solid;
}
		
section
{
	padding: 10px 20px;
	border: 1px grey solid;
}
			
footer
{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	width: 90%;
	margin: auto;
}