<section class="rulesinfo">
    <div class="rules cf" ng-model="rules">
        <div class="row">
            <div class="row">
                <font size="5"><b>Group Number:</b> {{rules[whichItem].FIELD1}}</font>
            </div>
            <div class="row">
                <font size="4"><b>Group:</b> {{rules[whichItem].FIELD2}}</font>
            </div>
            <div class="row">
                <font size="3"><b>Violation Number:</b> {{rules[whichItem].FIELD3}}</font>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD4}}</font>
            </div>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD5}}</font>
            </div>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD6}}</font>
            </div>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD7}}</font>
            </div>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD8}}</font>
            </div>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD9}}</font>
            </div>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD10}}</font>
            </div>
            <br>
            <br>
            <div class="row">
                <font size="3"><b>Infraction and Description:</b> {{rules[whichItem].FIELD11}}</font>
            </div>
        </div>
    </div>
    <a href="#/">&laquo; Back to Home</a>
</section>