<section class="rulesinfo">
    <div class="rules cf" ng-model="rules">
        <div class="row">
            <div class="row">
                <font size="5">Group Number: {{rules[whichItem].FIELD1}}</font>
            </div>
            <div class="row">
                <font size="4">Group: {{rules[whichItem].FIELD2}}</font>
            </div>
            <div class="row">
                <font size="3">Violation Number: {{rules[whichItem].FIELD3}}</font>
            </div>
            <div class="row">    
                <font size="3">Infraction and Description: {{rules[whichItem].FIELD4}}</font>
            </div>
        </div>
        <div class="row">
            <font size="2">
                <div>{{ {{rules[whichItem].FIELD5}}.length > 0 ? "Infraction and Description: {{rules[whichItem].FIELD5}}" || '' }}</div>
            </font>
        </div>
    </div>
    <a href="#/">&laquo; Back to Home</a>
</section>